<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" id="pdfTable" *ngIf="order">
  <h4 class="text-left">
    Hình thức thanh toán:
  </h4>
  <div class="col-12">
    <div class="row border mb-3">
      <div class="col-6">
        <div class="d-flex h-100 justify-content-center align-items-center">
          <h5 class="m-0" *ngIf="order.methodPay == 0">
            Thanh toán khi nhận hàng
          </h5>
          <h5 class="m-0" *ngIf="order.methodPay == 1">
            Thanh toán qua Paypal
          </h5>
        </div>
      </div>
    </div>
    <h4 class="text-left">
      Hình thức giao hàng:
    </h4>
    <div class="col-12">
      <div class="row border mb-3">
        <div class="col-6">
          <div class="d-flex h-100 justify-content-center align-items-center">
            <h5 class="m-0">
              Giao hàng tiêu chuẩn - giao hàng tận nơi
            </h5>
          </div>
        </div>
      </div>
      <h4 class="text-left">
        Chi tiết đơn hàng:
      </h4>
      <div class="row border mb-3">
        <div class="col-6">
          <div class="d-flex h-100 align-items-center">
            <h5 class="m-0">
              Đơn hàng: 0123456789
            </h5>
          </div>
        </div>
        <div class="col-6">
          <div class="">
            <div class="d-flex justify-content-end">
              <img src="../../../../../assets/img/1519959194921.png"
                   alt="Codegym"
                   style="max-height: 75px">
            </div>
          </div>
        </div>
      </div>

      <div class="row border mb-3">
        <div class="col-6">
          <div class="text-left">
            <h3 class="m-0">
              Trần Hữu Kiên
            </h3>
            <p class="m-0">
              Địa chỉ: 463 Hải Phòng
            </p>
            <p class="m-0">
              Quốc Gia: Việt Nam
            </p>
            <p class="m-0">
              Tỉnh/Thành Phố: Đà Nẵng
            </p>
            <p class="m-0">
              Quận/Huyện: Thanh Khê
            </p>
            <p class="m-0">
              Số điện thoại: +84123456789
            </p>
          </div>
        </div>
        <div class="col-6">
          <div class="text-right">
            <h3 class="m-0">
              Công ty CodeGym
            </h3>
            <p class="m-0">
              Địa chỉ: 295 Nguyễn Tất Thành
            </p>
            <p class="m-0">
              Quốc Gia: Việt Nam
            </p>
            <p class="m-0">
              Tỉnh/Thành Phố: Đà Nẵng
            </p>
            <p class="m-0">
              Quận/Huyện: Hải Châu
            </p>
            <p class="m-0">
              Số điện thoại: +84123456789
            </p>
          </div>
        </div>
      </div>

      <div>
        <table class="table text-center table-bordered">
          <thead class="thead-dark">
          <tr>
            <th scope="col">Sản phẩm</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Giá</th>
            <th scope="col">Tổng giá</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of products; let i = index">
            <th>
              <!--                            <img src="{{product.}}"-->
              <!--                                 alt="sản phẩm"-->
              <!--                                 style="max-height: 75px">-->
              {{product.productName}}
            </th>
            <td class="align-middle">{{product.quantity}}</td>
            <td class="align-middle">{{product.lastPrice}}</td>
            <td class="align-middle">{{product.lastPrice * product.quantity}}</td>
          </tr>
          <tr>
            <th colspan="2">Phí giao hàng</th>
            <td>50,000 VND</td>
          </tr>
          <tr>
            <th colspan="2" style="font-weight: bold">Tổng tiền</th>
            <td>{{totalInVND + 50000}} VND</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <input
    type="button"
    (click)="generatePdf('open')"
    name="previous"
    class="previous action-button-previous"
    style="width: 25%"
    value="In hóa đơn"
  />
  <input
    type="button"
    name="make_payment"
    class="next action-button"
    style="width: 40%"
    value="Quay lại lịch sử đấu giá"
  />
</div>
</body>
</html>
