<div class="wrapper ">
  <div class="sidebar" data-color="azure" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
    <div class="logo"><a class="simple-text logo-normal">
      Admin
    </a></div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item  ">
          <a class="nav-link" href="./chart.html">
            <i class="material-icons">insights</i>
            <p>Chart</p>
          </a>
        </li>

        <li class="nav-item active ">
          <a class="nav-link" href="#">
            <i class="material-icons">person_pin</i>
            <p>User Management</p>
          </a>
        </li>


      </ul>
    </div>
  </div>
  <div class="main-panel">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-10 row">

            <div class="col-lg-3"><input type="text" class="form-control" placeholder="Id"></div>
            <div class="col-lg-3"><input type="text" class="form-control" placeholder="User name"></div>
            <div class="col-lg-3"><input type="text" class="form-control" placeholder="Address"></div>
            <div class="col-lg-3"><input type="text" class="form-control" placeholder="Email"></div>
          </div>

          <div class="col-lg-2">
            <button class="btn-outline-success">Search</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-success">
                <h3 class="card-title ">User</h3>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table sortable">
                    <thead class=" text-primary">
                    <th>
                      STT
                    </th>
                    <th>
                      User Name
                    </th>
                    <th>
                      Address
                    </th>
                    <th>
                      Email
                    </th>
                    <th>
                      Phone
                    </th>
                    <th>
                      Last login
                    </th>
                    <th>Lock/Unlock</th>
                    <th>Delete</th>

                    </thead>
                    <tbody>
                    <tr *ngFor="let user of userList">
                      <td>
                        {{user.user.userId}}
                      </td>
                      <td>
                        {{user.user.userName}}
                      </td>
                      <td>
                        {{user.user.address}}
                      </td>
                      <td>
                        {{user.email}}
                      </td>
                      <td>
                        {{user.user.phone}}
                      </td>
                      <td>
                        {{user.logoutTime}}
                      </td>

                      <td *ngIf=" user.enable==1 ">
                        <button class="btn-success" data-toggle="modal"
                                data-target="#exampleModal" (click)="getIndex(user)">Lock
                        </button>

                      </td>
                      <td *ngIf=" user.enable==2 ">
                        <button class="btn-success" data-toggle="modal"
                                data-target="#exampleModal2" (click)="getIndex(user)">Unlock
                        </button>
                      </td>
                      <td>

                        <button class="btn-success" data-toggle="modal"
                                data-target="#exampleModal1" (click)="getIndex(user)">Delete
                        </button>

                      </td>

                    </tr>
                    <!--                      Delete modal-->
                    <div class="modal fade" id="exampleModal1" tabindex="-1"
                         aria-labelledby="exampleModalLabel1" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel1">Delete user</h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body"
                               style="color: red; font-size: 20px; text-align: center">
                            Do you want to delete {{userName}}?
                          </div>

                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger"
                                    data-dismiss="modal">Close
                            </button>
                            <button type="button" class="btn btn-warning" (click)="deleteUserById(userId)"
                                    data-dismiss="modal">
                              Delete
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="modal fade" id="exampleModal" tabindex="-1"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Lock user</h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body"
                               style="color: red; font-size: 20px; text-align: center">
                            Do you want to lock {{userName}}?

                          </div>

                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger"
                                    data-dismiss="modal">Close
                            </button>
                            <button type="button" class="btn btn-warning"
                                    data-dismiss="modal" (click)="lockUserById(userId)">
                              Lock
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="modal fade" id="exampleModal2" tabindex="-1"
                         aria-labelledby="exampleModalLabel2" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel2">UnLock user</h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body"
                               style="color: red; font-size: 20px; text-align: center">
                            Do you want to unlock {{userName}}?
                            <label>
                              <select class="form-check-">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                              </select>
                            </label>
                          </div>

                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger"
                                    data-dismiss="modal">Close
                            </button>
                            <button type="button" class="btn btn-warning"
                                    data-dismiss="modal" (click)="unlockUserById(userId)">
                              UnLock
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>


                    </tbody>


                  </table>
                  <!--                                    //Pagination-->
                  <!--                    <div>-->
                  <!--                      <nav aria-label="Page navigation example">-->
                  <!--                        <ul class="pagination justify-content-end">-->
                  <!--                          <li class="page-item disabled">-->
                  <!--                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true"-->
                  <!--                               style="color: orangered">Previous</a>-->
                  <!--                          </li>-->
                  <!--                          <li class="page-item"><a class="page-link" href="#"-->
                  <!--                                                   style="color: orangered">1</a></li>-->
                  <!--                          <li class="page-item"><a class="page-link" href="#"-->
                  <!--                                                   style="color: orangered">2</a></li>-->
                  <!--                          <li class="page-item"><a class="page-link" href="#"-->
                  <!--                                                   style="color: orangered">3</a></li>-->
                  <!--                          <li class="page-item">-->
                  <!--                            <a class="page-link" href="#" style="color: orangered">Next</a>-->
                  <!--                          </li>-->
                  <!--                        </ul>-->
                  <!--                      </nav>-->
                  <!--                    </div>-->

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


    <footer class="footer">
      <div class="container-fluid">
        <nav class="float-left">

        </nav>
        <div class="copyright float-right" id="date">
          , made with <i class="material-icons">favorite</i> by
          <a href="#" target="_blank">C1020G1</a> for a better web.
        </div>
      </div>
    </footer>

  </div>
</div>
