<div class="dark-edition">
  <div class="wrapper ">
    <app-left-side-bar></app-left-side-bar>
    <div class="main-panel">
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-10 row">


              <div class="col-lg-4"><input type="text" class="form-control" placeholder="Tên" [(ngModel)]="userName"
                                           style="color:white">
              </div>
              <div class="col-lg-4"><input type="text" class="form-control" placeholder="Địa chỉ"
                                           [(ngModel)]="userAddress" style="color:white"></div>
              <div class="col-lg-4"><input type="text" class="form-control" placeholder="Email" [(ngModel)]="userEmail"
                                           style="color:white">
              </div>
            </div>

            <div class="col-lg-2">
              <button class="btn btn-default btn-round btn-just-icon" (click)="search()">
                <i class="material-icons" style="background: #4CAF50">search</i>

              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-success">
                  <h3 class="card-title ">Người dùng</h3>
                </div>
                <div class="card-body">
                  <div class="table-responsive" *ngIf="accountList.length != 0">
                    <table class="table sortable" style="text-align: center">
                      <thead class=" text-info">
                      <th>
                        STT
                      </th>
                      <th>
                        Tên
                      </th>
                      <th>
                        Địa chỉ
                      </th>
                      <th>
                        Email
                      </th>
                      <th>
                        SĐT
                      </th>
                      <th >
                        Lần đăng nhập gần nhất
                      </th>
                      <th >Khóa/Mở khóa</th>

                      </thead>
                      <tbody style="color:white">
                      <tr *ngFor="let user of accountList|paginate: {itemsPerPage: 5, currentPage: page}"  >
                        <td  style="color:white">
                          {{user.user.userId}}
                        </td>
                        <td style="color:white">
                          {{user.user.userName}}
                        </td>
                        <td style="color:white">
                          {{user.user.address}}
                        </td>
                        <td style="color:white">
                          {{user.email}}
                        </td>
                        <td style="color:white">
                          {{user.user.phone}}
                        </td>
                        <td style="color:white">
                          {{user.logoutTime|date : 'dd/MM/yyyy HH:mm:ss'}}
                        </td>

                        <td *ngIf=" user.enable==1 ">
                          <button class="  btn-danger" data-toggle="modal"
                                  data-target="#exampleModal" (click)="getIndex(user)">
                            Khóa
                          </button>

                        </td>
                        <td *ngIf=" user.enable==0 ">
                          <button class="btn-primary" data-toggle="modal"
                                  data-target="#exampleModal2" (click)="getIndex(user)">Mở khóa
                          </button>
                        </td>
                      </tr>

                      <div class="modal fade" id="exampleModal" tabindex="-1"
                           aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Khóa người dùng</h5>
                              <button type="button" class="close" data-dismiss="modal"
                                      aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body"
                                 style="color: red; font-size: 20px; text-align: center">
                              Bạn có muốn khóa người dùng {{userName}}?

                            </div>

                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger"
                                      data-dismiss="modal">Hủy
                              </button>
                              <button type="button" class="btn btn-warning"
                                      data-dismiss="modal" (click)="lockUserById(userId)">
                                Khóa
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="modal fade" id="exampleModal2" tabindex="-1"
                           aria-labelledby="exampleModalLabel2" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel2">Mở khóa người dùng</h5>
                              <button type="button" class="close" data-dismiss="modal"
                                      aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body"
                                 style="color: red; font-size: 20px; text-align: center">
                              Bạn có muốn mở khóa người dùng: {{userName}}?

                            </div>

                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger"
                                      data-dismiss="modal">Hủy
                              </button>
                              <button type="button" class="btn btn-warning"
                                      data-dismiss="modal" (click)="unlockUserById(userId)">
                                Mở khóa
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>


                      </tbody>


                    </table>
                  </div>
                  <div *ngIf="accountList.length == 0">
                    <h2 style="text-align: center;padding: 10%" class="text-warning">Không tìm thấy thành viên !!!</h2>
                  </div>
                </div>
              </div>
              <pagination-controls previousLabel="Trước"
                                   nextLabel="Sau" class="my-pagination" (pageChange)="page = $event"
                                   style="float: right; color: orangered"></pagination-controls>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
