<div class="container-fluid mt-2">
  <app-form-search-product-auction></app-form-search-product-auction>
  <div class="container bg-light">
    <nav class="navbar navbar-expand-lg navbar-secondary bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="nav-link" style="color: white"><i class="fa fa-align-justify"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link ml-5 text-warning" routerLink="/home"><i class="fa fa-gavel"></i> Đang Đấu Giá</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ml-5 text-warning" routerLink="/home/end"><i class="fa fa-times-circle"></i> Đã Kết Thúc</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ml-5 text-warning" routerLink="/home/result"><i class="fa fa-calendar-o"></i> Kết Quả</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ml-5 "><i class="fa fa-bar-chart-o"></i> Top 5 Đấu Giá</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container bg-light">
    <div class="btn-toolbar" role="group" aria-label="Basic example">
      <button (click)="showByAll()" type="button" class="btn btn-purple rounded-pill ml-5 mb-2 {{activeOne}} mt-2"><i
        class="fa fa-bars"></i>
        Tất Cả
      </button>
      <button (click)="showByHouseHold()" type="button"
              class="btn btn-purple rounded-pill ml-5 mb-2 {{activeTwo}} mt-2"><i
        class="fa fa-plug"></i> Gia Dụng
      </button>
      <button (click)="showByTechnology()" type="button"
              class="btn btn-purple rounded-pill ml-5 mb-2 {{activeThree}} mt-2">
        <i class="fa fa-laptop"></i> Công Nghệ
      </button>
      <button (click)="showByHot()" type="button" class="btn btn-purple rounded-pill ml-5 mb-2 {{activeFour}} mt-2"><i
        class="fa fa-fire"></i> Hot
      </button>
      <button (click)="showByOther()" type="button" class="btn btn-purple rounded-pill ml-5 mb-2 {{activeFive}} mt-2">
        ...
        Khác
      </button>
    </div>
  </div>
</div>
<div class="container-fluid table-responsive vh-100">
  <div class="container mt-1">
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col" class="text-center text-info">BXH</th>
        <th scope="col" class="text-center text-info">Tên</th>
        <th scope="col" class="text-center text-info">Ảnh</th>
        <th scope="col" class="text-center text-info">Giá Hiện Tại</th>
        <th scope="col" class="text-center text-info">Thời Gian Còn lại</th>
        <th scope="col" class="text-center text-info">Đấu Giá</th>
      </tr>
      </thead>
      <tbody class="border border-dark" *ngFor="let productImage of listProduct, let i = index" [attr.data-index]="i">
      <tr>
        <td class="border border-dark"><p class="text-top-product text-center" style="color: red">Top {{i+1}}
          <p></td>
        <td class="border border-dark"><p class="text-top-product text-center"><a>{{productImage.productName}}</a></p></td>
        <td class="text-center border border-dark"><img class="image-product border border-info" [src]="productImage.productImage"></td>
        <td class="border border-dark"><p class="text-top-product text-center" style="color: red">{{productImage.productLastPrice | number}}(VNĐ)</p></td>
        <td class="border border-dark"><p class="text-center text-top-product" style="color: red">
          <countdown
            [config]="{leftTime:  getTimeRemain(productImage.product.registerTime,productImage.product.auctionTime), format: getDayRemain(productImage.product.registerTime, productImage.product.auctionTime)+' HH:mm:ss'}"></countdown></p>
        </td>
        <td class="border border-info">
          <div class="product-option-shop">
            <a class="add_to_cart_button rounded-pill" data-quantity="1" data-product_sku=""
               data-product_id="70"
               rel="nofollow" [routerLink]="['/auction/bidding', productImage.product.productId]">Đấu Giá</a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="container" *ngIf="checkListProduct === false">
      <div class="text-danger text-center">Không có sản phẩm để hiển thị.</div>
    </div>
  </div>
</div>
