<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="container bootstrap snippets bootdey mt-5">
        <div class="panel-body inf-content">
          <div class="row">
            <div class="col-md-4 mt-4">
              <img alt="" style="width:600px" title="" class="img-thumbnail" src="{{userLogin.avatar}}" >
            </div>
            <div class="col-md-6 mt-3">
              <h4><strong style="color: blue">Thông tin thành viên</strong><br></h4>
              <div class="table-responsive">
                <table class="table table-user-information">
                  <tbody>
                  <tr>
                    <td>
                      <strong>Họ và tên</strong>
                    </td>
                    <td class="text-primary">
                      {{userLogin.userName}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Email</strong>
                    </td>
                    <td class="text-primary">
                      {{accountLogin.email}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Ngày sinh</strong>
                    </td>
                    <td class="text-primary">
                      {{userLogin.birthday | date: 'dd/MM/yyyy'}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>CMND</strong>
                    </td>
                    <td class="text-primary">
                      {{userLogin.identity}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Số điện thoại</strong>
                    </td>
                    <td class="text-primary">
                      {{userLogin.phone}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Địa chỉ</strong>
                    </td>
                    <td class="text-primary">
                      {{userLogin.address}}
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="d-flex justify-content-center align-items-center mb-4">
                  <a class="btn btn-warning" [routerLink]="['/profile/update', accountLogin.accountId]">Cập nhật</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

