<div class="container bootstrap snippets bootdey mt-5 mb-5">
  <div class="panel-body inf-content">
    <div class="row" *ngIf="userLogin">
      <div class="col-md-4 ml-3 mt-5">
        <!--        <img alt="" style="width: 100%; height: 70%; overflow: hidden; object-fit: cover; border-radius: 50%" title="" class="img-thumbnail"-->
        <!--             src="{{userLogin.avatar}}">-->
        <input accept=".jpg,.png" (change)="changeImage($event)" id="avatar" type="file" hidden>
        <div class="text-center d-inline-block avatar">
          <img id="avt" style="width: 100%; height: 350px; overflow: hidden; object-fit: cover; border-radius: 50%" [src]="avatar"
               alt=""><br>
          <i onclick="document.getElementById('avatar').click()"
             title="Thay đổi ảnh"
             class="fa fa-camera fa-2x"></i>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <h1><strong style="color: blue">Thông tin thành viên</strong><br></h1>
        <div class="table-responsive">
          <table class="table table-user-information">
            <tbody>
            <tr>
              <td>
                <strong>Họ và tên</strong>
              </td>
              <td class="text-primary">
                {{userLogin.userName}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Email</strong>
              </td>
              <td class="text-primary">
                {{accountLogin.email}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Ngày sinh</strong>
              </td>
              <td class="text-primary">
                {{userLogin.birthday | date: 'dd/MM/yyyy' : '+0700'}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>CMND</strong>
              </td>
              <td class="text-primary">
                {{userLogin.identity}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Số điện thoại</strong>
              </td>
              <td class="text-primary">
                {{userLogin.phone}}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Địa chỉ</strong>
              </td>
              <td class="text-primary">
                {{userLogin.address}}
              </td>
            </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-center align-items-center mb-4">
            <a class="btn" style="background: #a6c !important;" [routerLink]="['/profile/update', accountLogin.accountId]">Cập nhật</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
