<div class="container-fluid mt-2">
  <app-form-search-product-auction></app-form-search-product-auction>
  <div class="container bg-light">
    <nav class="navbar navbar-expand-lg navbar-secondary bg-secondary">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="nav-link" style="color: white"><i class="fa fa-align-justify"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link ml-5 text-info"><i class="fa fa-gavel"></i> Đang Đấu Giá</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ml-5" routerLink="/home/end"><i class="fa fa-times-circle"></i> Đã Kết Thúc</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ml-5" routerLink="/home/result"><i class="fa fa-calendar-o"></i> Kết Quả</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ml-5" routerLink="/home/top"><i class="fa fa-bar-chart-o"></i> Top 5 Đấu Giá</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container bg-light">
    <div class="btn-toolbar" role="group" aria-label="Basic example">
      <button (click)="showByAll()" type="button" class="btn btn-warning rounded-pill ml-5 mb-2 {{activeOne}} mt-2"><i
        class="fa fa-bars"></i>
        Tất Cả
      </button>
      <button (click)="showByHouseHold()" type="button"
              class="btn btn-warning rounded-pill ml-5 mb-2 {{activeTwo}} mt-2"><i
        class="fa fa-plug"></i> Gia Dụng
      </button>
      <button (click)="showByTechnology()" type="button"
              class="btn btn-warning rounded-pill ml-5 mb-2 {{activeThree}} mt-2">
        <i class="fa fa-laptop"></i> Công Nghệ
      </button>
      <button (click)="showByHot()" type="button" class="btn btn-warning rounded-pill ml-5 mb-2 {{activeFour}} mt-2"><i
        class="fa fa-fire"></i> Hot
      </button>
      <button (click)="showByOther()" type="button" class="btn btn-warning rounded-pill ml-5 mb-2 {{activeFive}} mt-2">
        ...
        Khác
      </button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-3 col-sm-6"
           *ngFor="let productImage of listProduct | paginate: { itemsPerPage: 16, currentPage: page }; ">
        <div class="single-shop-product" *ngIf="productImage.id !== null">
          <div class="product-upper border border-info">
            <img class="image-product" [src]="productImage.image" alt="">
          </div>
          <p class="text-name-product"><a href="">{{productImage.product.productName}}</a></p>
          <div class="product-carousel-price">
            <ins *ngIf="productImage.product.lastPrice">Giá Hiện Tại: <span style="color: red">{{productImage.product.lastPrice | number}} (VNĐ)</span></ins>
            <ins *ngIf="!productImage.product.lastPrice">Giá Hiện Tại: <span style="color: red">{{productImage.product.price | number}} (VNĐ)</span></ins>
          </div>
          <p> Thời gian còn lại: <span class="text-time"><countdown
            [config]="{leftTime:  getTimeRemain(productImage.product.registerTime,productImage.product.auctionTime), format: getDayRemain(productImage.product.registerTime, productImage.product.auctionTime)+' HH:mm:ss'}"></countdown></span>
          </p>
          <div class="product-option-shop">
            <a class="add_to_cart_button rounded-pill" data-quantity="1" data-product_sku=""
               data-product_id="70"
               rel="nofollow" [routerLink]="['/auction/bidding', productImage.product.productId]">Đấu Giá</a>
          </div>
        </div>
      </div>
      <div class="container " style="height: 500px" *ngIf="checkListProduct === false">
        <div class="text-danger text-center">Không có sản phẩm để hiển thị.</div>
      </div>
    </div>
  </div>
  <div class="container mb-5" *ngIf="checkListProduct === true ">
    <pagination-controls maxSize="4" nextLabel="Sau" previousLabel="Trước" (pageChange)="page = $event"></pagination-controls>
  </div>
</div>
