<footer class="text-center bg-info text-lg-start my-5">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">C10 Auction</h5>
        <p>
          Trang đấu giá số 1 việt nam
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Liên kết</h5>
        ​
        <ul class="list-unstyled mb-0 ul-footer">
          <li>
            <a href="#!" class="text-dark">Đấu Giá</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Giỏ Hàng</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Trợ giúp</h5>
        ​
        <ul class="list-unstyled mb-0 ul-footer">
          <li>
            <a href="#!" class="text-dark">Hướng Dẫn</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Đăng ký</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-dark text-decoration-none" href="">c10auction.com</a>
  </div>
</footer>
