<div class="chat-admin" *ngIf="user">
  <div class="chat-header-admin clearfix">
    <div class="row">
      <div class="col-lg-6">
        <a href="" data-toggle="modal"
           data-target="#view_info">
          <img src="{{user.userAvatar}}"
               alt="avatar">
        </a>
        <div class="chat-about">
          <h6 class="m-b-0">{{user.userName}}</h6>
          <small>hoạt động 24/7</small>
        </div>
      </div>
      <div class="col-lg-6 hidden-sm text-right">
        <a href="" class="btn btn-outline-primary"><i class="fa fa-image"></i></a>
      </div>
    </div>
  </div>
  <div class="chat-history">
    <ul class="m-b-0">
      <li class="clearfix" *ngFor="let chat of chats">
        <div class="message-data text-right" *ngIf="chat.nickname === roomName">
          <span class="message-data-time">{{chat.date}} </span>
          <img src="{{user.userAvatar}}"
               alt="avatar">
        </div>
        <div class="message other-message float-right" *ngIf="chat.nickname === roomName">{{chat.message}}
        </div>
        <div class="message-data" *ngIf="chat.nickname !== roomName">
          <span class="message-data-time">{{chat.date}} </span>
        </div>
        <div class="message my-message" *ngIf="chat.nickname !== roomName">{{chat.message}}</div>
      </li>
    </ul>
  </div>
  <div class="chat-message clearfix">
    <div class="input-group mb-0">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-send"></i></span>
      </div>
      <form action="" [formGroup]="chatForm" (ngSubmit)="onFormSubmit(chatForm.value)" style="width: 90%">
        <input type="text" class="form-control " formControlName="message"
               placeholder="Nhập tin nhắn...">
        <span *ngIf="!chatForm.get('message').valid && chatForm.get('message').touched">Enter your message</span>
      </form>
    </div>
  </div>
</div>
<div class="chat-admin" *ngIf="!user">
  <p class="custom-p">Select a thread or start a new conversation</p>
</div>
