<div id="body">
  <div class="container-fluid">
    <h2 style="color: white; margin-top: 0">Tìm Tài Khoản Của Bạn</h2>
    <div class="row">
      <div class="offset-lg-1 col-lg-10">
        <div class="row border-center">
          <div class="col-lg-6 col-md-6 offset-lg-3 offset-md-3" style="background: purple">
            <div class="alert alert-success" role="alert" data-auto-dismiss="2000" *ngIf="checkSuccess == 'success'">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Thành Công</strong>{{notification}}.
            </div>
            <div class="alert alert-danger" role="alert" data-auto-dismiss="2000" *ngIf="checkSuccess == 'false'">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Email Không Hợp Lệ</strong> {{notification}}.
            </div>
            <div class="logout-f" style="margin-top: 200px">
              <h4 style="color: white"><i class="fa fa-envelope" ></i> Gửi Email</h4>
              <p style="color: white">Hãy nhập Email của bạn để chúng tôi gửi mật khẩu</p>
              <div class="logout-form">
                <form [formGroup]="recoverForm" (ngSubmit)="onSubmit()" class="again-login">
                  <input type="text" placeholder="Tên Email" formControlName="accountEmail">
                  <button style="color: white" type="submit" [disabled]="recoverForm.invalid">GỬI</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
      $(this).remove();
    });
  }, 2000);
</script>
