<div class="container">
  <div class="row">
    <div class="col-lg-12 ">
      <form [formGroup]="formEditUser" (ngSubmit)="updateUser()">
        <h2 style="color: blue; text-align: center" class="mt-3">Chỉnh sửa thông tin cá nhân</h2>
        <h3 *ngIf="message" style="color: lawngreen">{{message}}</h3>
        <div class="form-group">
          <div>
            <input type="hidden" class="form-control" formControlName="userId">
          </div>
          <h5 for="userName">Họ và tên: </h5>
          <input type="text" class="form-control" id="userName" name="userName" formControlName="userName">
        </div>
        <div class="alert alert-danger"
             *ngIf="!userName.valid && (userName.dirty || userName.touched)">
          <div [hidden] ="!userName.errors?.required">
              Vui lòng nhập Họ và tên !!
          </div>
          <div [hidden] ="!userName.errors?.minlength">
              Họ và tên quá ngắn !!
          </div>
          <div [hidden] ="!userName.errors?.maxlength">
            Họ và tên quá dài !!
          </div>
        </div>
        <div class="form-group">
          <h5 for="email">Email: </h5>
          <input type="text" class="form-control" id="email" name="email" formControlName="email">
        </div>
        <div class="alert alert-danger"
             *ngIf="!email.valid && (email.dirty || email.touched)">
          <div [hidden] ="!email.errors?.required">
              Vui lòng nhập email !!
          </div>
          <div [hidden] ="!email.errors?.email">
            Email phải đúng định dạng abc@abc.abc !!
          </div>
        </div>
        <div class="form-group">
          <h5 for="birthday">Ngày sinh: </h5>
          <input type="date" class="form-control" id="birthday" name="birthday" formControlName="birthday"  >
        </div>
        <div class="alert alert-danger"
             *ngIf="!birthday.valid && (birthday.dirty || birthday.touched)">
          <div [hidden] ="!birthday.errors?.required">
              Vui lòng nhập Ngày sinh !!
          </div>
        </div>
        <div class="form-group">
          <h5 for="identity">CMND: </h5>
          <input type="text" class="form-control" id="identity" name="identity" formControlName="identity">
        </div>
        <div class="alert alert-danger"
             *ngIf="!identity.valid && (identity.dirty || identity.touched)">
          <div [hidden] ="!identity.errors?.required">
              Vui lòng nhập email !!
          </div>
          <div [hidden] ="!identity.errors?.pattern">
               CMND phải đúng định dạng XXXXXXXXX hoặc XXXXXXXXXXXX X(0-9) !!
          </div>
        </div>
        <div class="form-group">
          <h5 for="phone">Số điện thoại: </h5>
          <input type="text" class="form-control" id="phone" name="phone" formControlName="phone">
        </div>
        <div class="alert alert-danger"
             *ngIf="!phone.valid && (phone.dirty || phone.touched)">
          <div [hidden] ="!phone.errors?.required">
              Vui lòng nhập SDT !!
          </div>
          <div [hidden] ="!phone.errors?.pattern">
              SDT phải đúng định dạng 090xxxxxxx hoặc 091xxxxxxx hoặc (84)+90xxxxxxx hoặc (84)+91xxxxxxx X(0-9) !!
          </div>
        </div>
        <div class="form-group">
          <h5 for="address">Địa chỉ: </h5>
          <input type="text" class="form-control" id="address" name="address" formControlName="address">
        </div>
        <div class="alert alert-danger"
             *ngIf="!address.valid && (address.dirty || address.touched)">
          <div [hidden] ="!address.errors?.required">
              Vui lòng nhập địa chỉ !!
          </div>
          <div [hidden] ="!address.errors?.minlength">
              Địa chỉ quá ngắn !!
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <button class="btn btn-success mr-3" [disabled]="!formEditUser.valid" type="submit" style="width: 100px">Lưu</button>
        </div>
      </form>
    </div>
  </div>
</div>
