<div id="container">
  <div id="part1">
    <div id="companyinfo"><a id="sitelink">C1020G1</a>
      <p id="title">Website đấu giá</p>
      <p id="detail">Đến với chúng tôi , các bạn có thể mua những món hàng tốt nhất với giá hời nhất !!! </p>
    </div>
    <div id="explore">
      <p id="txt1">Liên kết</p> <a class="link" href="http://localhost:4200/home">Trang chủ</a> <a class="link" href="http://localhost:4200/home">Hướng dẫn</a>
    </div>
    <div id="visit">
      <p id="txt2">Thông tin liên hệ</p>
      <p class="text">Email chúng tôi: support@c10auction.com</p>
      <p class="text">Số điện thoại: (028)-3621245</p>
      <p class="text">Địa chỉ: Tầng 10 , tòa nhà Đại Học Mỡ Hà Nội , Đà Nẵng</p>
    </div>
    <div id="legal">
    </div>
    <div id="subscribe">
      <p id="txt5">Tương tác</p> <i class="fab fa-facebook-square social fa-2x"></i> <i class="fab fa-linkedin social fa-2x"></i> <i class="fab fa-twitter-square social fa-2x"></i>
    </div>
  </div>
  <div id="part2" style="text-align: center">
    <p id="txt6"><i class="material-icons tiny"> copyright</i>copyright 2021 C1020G1 Auction Website - All right reserved</p>
  </div>
</div>
