
<div style="background-color: #edf2f6">



<div style="margin: 0 15px 0 15px">
  <h1 style="text-align:center">Quy định chung của website</h1>
  <h3>a. Phân định trách nhiệm quản lý với các website chuyên ngành</h3>
  <p> Để tránh sự chồng chéo trong quản lý, giảm bớt gánh nặng về thủ tục hành chính cho doanh nghiệp, Thông tư số 47
    quy định cụ thể việc loại trừ nghĩa vụ thông báo và đăng ký theo quy định của Nghị định số 52 đối với các
    website TMĐT chuyên ngành thuộc một số lĩnh vực đặc thù. “Không áp dụng đối với các website hoạt động trong lĩnh
    vực tài chính, ngân hàng, tín dụng, bảo hiểm; website mua bán, trao đổi tiền, vàng, ngoại hối và các phương tiện
    thanh toán khác; website cung cấp dịch vụ trò chơi trực tuyến, dịch vụ đặt cược hoặc trò chơi có thưởng. Những
    website này chịu sự điều chỉnh của pháp luật quản lý chuyên ngành tương ứng”.</p>

  <h3>b. Hoạt động kinh doanh hàng hóa hạn chế kinh doanh hoặc hàng hóa, dịch vụ kinh doanh có điều kiện trên website
    TMĐT</h3>
  <p> Thông tư 47 quy định 'Thương nhân thiết lập website để bán các hàng hóa, dịch vụ thuộc danh mục hàng hóa, dịch
    vụ kinh doanh có điều kiện cấp giấy chứng nhận đủ điều kiện kinh doanh phải công bố trên website của mình số,
    ngày cấp và nơi cấp giấy chứng nhận đủ điều kiện kinh doanh đối với hàng hóa, dịch vụ đó'
    Thương nhân, tổ chức, cá nhân không được sử dụng website TMĐT để kinh doanh các hàng hóa hạn chế kinh doanh sau:
    súng săn và đạn súng săn, vũ khí thể thao, công cụ hỗ trợ; thực vật, động vật hoang dã quý hiếm, bao gồm cả vật
    sống và các bộ phận của chúng đã được chế biến; thuốc lá điếu, xì gà và các dạng thuốc là thành phẩm khác và
    rượu các loại; các loại hàng hóa hạn chế kinh doanh khác theo quy định của pháp luật.</p>

  <h3>c. Trách nhiệm của thương nhân, tổ chức cung cấp dịch vụ TMĐT</h3>
  <p>Bổ sung quy định về trách nhiệm của thương nhân, tổ chức, cá nhân sở hữu website cung cấp dịch vụ TMĐT đối với
    thông tin đăng tải trên website của mình bằng các cơ chế lọc tin tự động hoặc bằng các biện pháp kỹ thuật cụ thể
    đối với các thông tin đưa lên không đúng theo quy định của pháp luật. Cụ thể: Chủ sàn giao dịch TMĐT phải có
    trách nhiệm:<br>
    - Ngăn chặn và loại bỏ khỏi website những thông tin bán hàng hóa, dịch vụ thuộc danh mục hàng hóa, dịch vụ cấm
    kinh doanh theo quy định của pháp luật hoặc hàng hóa hạn chế kinh doanh theo quy định tại khoản 1 Điều 3 Thông
    tư này.<br>
    - Loại bỏ khỏi website những thông tin bán hàng giả, hàng nhái, hàng nhập lậu, hàng vi phạm quyền sở hữu trí tuệ
    và các hàng hóa, dịch vụ vi phạm pháp luật khác khi phát hiện hoặc nhận được phản ánh có căn cứ xác thực.<br>
    - Yêu cầu người bán các hàng hóa, dịch vụ thuộc danh mục hàng hóa, dịch vụ kinh doanh có điều kiện trên website
    của mình phải cung cấp giấy chứng nhận đủ điều kiện kinh doanh đối với hàng hóa, dịch vụ đó (trong trường hợp
    pháp luật quy định phải có Giấy chứng nhận đủ điều kiện kinh doanh).</p>
  <hr>
  <h1 style="text-align:center">Hướng dẫn tham gia đấu giá</h1>
  <h3>Bước 1: Đăng nhập/Đăng ký</h3>
  <p>Nếu là người dùng mới thì đăng ký tài khoản mới, nếu đã là thành viên thì đăng nhập</p>
  <h3>Bước 2: Tìm sản phẩm muốn mua</h3>
  <p>Tìm sản phẩm muốn mua trên trang chủ của website</p>
  <h3>Bước 3: Tham gia đấu giá</h3>
  <p>Tham gia vào phiên đấu giá và giành lấy sản phẩm mình muốn</p>
  <h3>Bước 4: Thanh toán</h3>
  <p>Thanh toán bằng Paypal hoặc thanh toán khi nhận hàng</p>
  <h3>Bước 5: Nhận hàng</h3>
  <p>Sau khi thanh toán và nhập địa chỉ đơn vị giao hàng sẽ gửi hàng trong vòng 7-10 ngày</p>
</div>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</div>
