<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="card card-plain">
        <div class="card-header card-header-primary">
          <h4 class="card-title mt-0">Auction Item Registration History</h4>
          <p class="card-category"> (Lịch sử đăng ký mặt hàng đấu giá)</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <tr class="table-warning">
                <th>STT</th>
                <th>ID Sản Phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Thông tin sản phẩm</th>
                <th>Ngày đăng kí</th>
                <th>Tình trạng</th>
                <th>Huỷ đăng kí</th>
              </tr>
              <tbody>
                <tr *ngFor="let items of productRegister,let i = index">
                  <td>{{i+1}}</td>
                  <td>{{items.productId}}</td>
                  <td>{{items.productName}}</td>
                  <td>{{items.description}}</td>
                  <td>{{items.registerTime| date: 'dd/MM/yyyy'}}</td>
                  <td>{{items.productStatus.statusName}}</td>

                  <td *ngIf="items.productStatus.id != 6">
                    <button class="btn btn-danger" type="submit" data-ripple="" data-toggle="modal" data-target="#exampleModal" (click)="product=items">Huỷ</button></td>
                  <td *ngIf="items.productStatus.id == 6"><button class="btn btn-warning" type="submit" data-ripple="" data-toggle="modal" data-target="#exampleModal1"(click)="product=items">Đăng lại</button></td>

                </tr>
              </tbody>
            </table>
            <br>
            <div class="text-center" *ngIf="productRegister">
              <span>Viewing {{productRegister.length}} of {{data.totalElements}} Items</span><br>
              <i class="fas fa-chevron-circle-down " style="font-size: 150%; cursor: pointer" *ngIf="productRegister.length !== data.totalElements" (click)="loadMoreProduct()"></i>
            </div>


          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<!--Huy dang ki-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">HUỶ MẶT HÀNG</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="my-3">Bạn có chắc chắn muốn huỷ đăng kí mặt hàng này không? <br> Lưu ý: Thao tác này không thể hoàn tác !!!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 80px">Hủy</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" style="width: 80px" (click)="setStatus()">Đồng ý</button>
      </div>
    </div>
  </div>
</div>

<!--Đăng kí lại-->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Đăng lại mặt hàng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="product">
        <p class="my-3">
          <span><b>ID sản phẩm:</b></span> <br>
          {{product.productId}}
        </p>
        <p class="my-3">
          <span><b>Tên sản phẩm:</b></span> <br>
          {{product.productName}}
        </p>
        <p class="my-3">
          <span><b>Thông tin sản phẩm:</b></span> <br>
          <input type="text" [(ngModel)]="product.description">
        </p>
        <p class="my-3">
          <span><b>Giá sản phẩm:</b></span> <br>
          <input type="text" [(ngModel)]="product.price">
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal"  (click)="setProductRegister()">Đăng lại</button>
      </div>
    </div>
  </div>
</div>
